$colors: (
    buttonYellow: rgb(255, 228, 0),
    borderYellowBottom: rgb(243, 287, 0),
    borderYellowTop: rgb(255, 246, 165),
    buttonOrange: rgb(255, 136, 30),
    lightRed: rgb(230, 88, 49),
    darkRed: rgb(117, 35, 23),
    lightBlue: rgb(123, 202, 233),
    teamRed: rgb(143, 43, 28),
    teamBlue: rgb(50, 132, 163),
);

@function color($color) {
    @return map-get($map: $colors, $key: $color);
}

.topbar {
    display: flex;
    justify-content: space-between;
    //grid-area: topbar;
    box-sizing: border-box;
    padding: 1%;

    .rightTop {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 32.7vw;

        img {
            width: 2em;
            height: 2em;
        }
    }
}
