.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    input {
        border: none;
        box-shadow: 0 2px #eee;
        border-radius: 1em;
        padding: 5px;
        box-sizing: border-box;
        text-align: center;

        &:focus {
            outline: none;
        }
    }

    select {
        border: none;
        box-shadow: 0 2px #eee;
        border-radius: 1em;
        padding-left: 1em;
        height: 2em;

        &:focus {
            outline: none;
        }
    }
}
