.message {
    margin: 0.1em;
    font-family: 'Lato', sans-serif;
}

.red {
    background-color: rgb(255, 231, 213);

    span {
        color: rgb(192, 32, 5);

        &:nth-of-type(2) {
            text-transform: uppercase;
        }
    }
}

.blue {
    background-color: rgb(207, 249, 255);

    span {
        color: rgb(0, 121, 201);
    }
}
