.container {
    background-color: white;
    padding: 3px;
    font-family: 'Lato', sans-serif;
    border-radius: 1em;
    display: flex;
    justify-content: center;

    h2 {
        font-size: 1em;
    }
}
