$colors: (
    teamRed: rgb(197, 89, 73),
    teamBlue: rgb(111, 183, 209),
);

@function color($color) {
    @return map-get($map: $colors, $key: $color);
}

.container {
    h3 {
        font-family: 'Nunito', sans-serif;
        font-size: 0.75em;
        margin: 0;
    }

    h4 {
        font-family: 'Nunito', sans-serif;
        color: white;
        font-size: 0.6em;
        margin: 0;
        margin-left: 1em;
        font-weight: 900;
    }
}

.redTeam {
    h3 {
        color: color(teamRed);
    }
}

.blueTeam {
    h3 {
        color: color(teamBlue);
    }
}
